@import "tailwindcss";
@theme {
  --color-main: #EF6C00;   
  --color-secondary: ##E0E0E0;
  --color-light: #FFFFFF; 

}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}
